pom.xml
pom.xml.asc
*.class
dev/
/lib/
/jars/
/target/
/classes/
/backend/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.shadow-cljs/
node_modules/
resources/public/js/
.DS_Store
figwheel_server.log
icd10cm-1.sql
.projectile
yarn.lock
.rebel_readline_history
/jars/
resources/gcscreds.json
test-html/
*.iml
.idea
/test/jsdom/target/
/VERSION
.calva/
.clj-kondo/
.lsp/
/pgdata/
/test/jsdom/.m2/
/docs/*.pdf
/melkosoft/
/docs/presentation/
